h1 {
    color:blueviolet;
}

.container {
    padding: 10px;
    height: 150px ;
    width: 250px;
    display: block;
    justify-content: center;
    align-items: center;
    background-color:black;
    border: 50%;
}

body{
    margin: auto;
    justify-content: center;
    display: flex;
    justify-content: center;
}